
.loading-text::after {
    width: 5ch;
    text-align: left;
    display: inline-block;
    animation: pulseDots 1s steps(6) infinite;
    content: '';
}

@keyframes pulseDots {
    0% { content: ''; }
    16.67% { content: '.'; }
    33.33% { content: '..'; }
    50% { content: '...'; }
    66.67% { content: '....'; }
    83.33% { content: '.....'; }
    100% { content: ''; }
}