:4200 {
    # Rot directory where the compiled files live
    root * /usr/share/caddy

    # Enable static file server
    file_server

    # SPA Routing: If a file isn't found, serve index.html
    try_files {path} /index.html

    # Optional: Enable Gzip/Zstd compression
    encode zstd gzip
}