
form {
    min-width: 80vw;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-dots {
    display: inline-block;
    width: 3ch;
    text-align: left;
}

.title {
    padding-left: 30px;
    font-size: 50px;
}