
.info-section-text {
    padding-left: 10px;
}

.info-section {
    margin-top: 20px;
}

.error {
    border: 2px solid #992f0f;
    background-color: #992f0f2e;
}

.warning {
    border: 2px solid #ca9e19;
    background-color: #e0a8002e;
}